<ifmodule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /klinik
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /klinik/index.php/$1 [L]
</ifmodule>
<ifmodule !mod_rewrite.c>
 ErrorDocument 404 /klinik/index.php
</ifmodule>